@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply text-base;
}

@media (min-width: 1280px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 1536px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 2560px) {
	html {
		font-size: 20px;
	}
}

@media (min-width: 3160px) {
	html {
		font-size: 22px;
	}
}

.bg-light {
	background-image: url('@/assets/images/light_bg.png');
}
.bg-dark {
	background-image: url('@/assets/images/dark_bg.png');
}

@layer components {
	.flex-c {
		@apply flex items-center justify-center;
	}

	.flex-dc {
		@apply flex flex-col items-center justify-center;
	}
	.flex-db {
		@apply flex flex-col items-center justify-between;
	}

	.flex-ac {
		@apply flex items-center justify-around;
	}

	.flex-bc {
		@apply flex items-center justify-between;
	}

	.flex-br {
		@apply flex items-end justify-end;
	}

	.transition-width {
		transition-property: width;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 150ms;
	}
}
