@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.flex-c {
		@apply flex items-center justify-center;
	}

	.flex-dc {
		@apply flex flex-col items-center justify-center;
	}

	.flex-ac {
		@apply flex items-center justify-around;
	}

	.flex-bc {
		@apply flex items-center justify-between;
	}

	.flex-br {
		@apply flex items-end justify-end;
	}

	.transition-width {
		transition-property: width;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 150ms;
	}
}
